<!DOCTYPE html>
<html lang="en">
<div th:replace="~{head :: head}"></div>
<body>
<h1>Add new post</h1>
<form action="#" th:action="@{/addpost}" th:object="${addpost}" method="post">
    <label for="title">Title:</label><br />
    <input type="text" id="title" th:field="*{title}"><br />
    <label for="content">Content:</label><br />
    <textarea id="content" th:field="*{content}"></textarea><br />
    <input type="submit" value="Submit" /><br />
    <input type="reset" value="Reset" />
</form>
</body>
</html>
